/* Fonts */
@font-face {
    src: url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
    font-family: "Outfit";
}
@font-face {
    src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf");
    font-family: "Young-Serif";
}

/* General Styles */
html {
    background-color: hsl(30, 54%, 90%);
    margin: 0;
    padding: 35px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    max-width: 800px;
    width: 90%;
}

img {
    object-fit: fill;

}
/* Media query */
@media (max-width: 756px) {
    html {
        background-color: white;
        padding: 0;
    }
    body {
        border-radius: 0;
        width: 100%;
        max-width: 100%;
        min-height: 100vh;
        padding: 0;
    }
    html, body {
        transition: all 0.3s ease;
    }
    .container-fluid {
        padding: 0 !important;
    }
    .container {
        padding: 20px;
    }
    .overview-section {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 0;
    }
    .head {
        margin: 0;
    }
    .image-header {
        width: 100vw;
        max-width: none;
        border-radius: 0;
    }
}
/* Other */
#recipe-name {
    font-family: "Young-Serif";
    font-size: 3rem;
}
.title {
    color: hsl(14, 45%, 36%);
    padding-left: 10px;
    font-family: "Young-Serif";
    font-size: 2.4rem;
}
ul li::marker {
    color: hsl(332, 51%, 32%);
}
.d-flex li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

.text {
    font-family: "Outfit";
    font-size: 1.2rem;
    color: hsl(30, 10%, 34%);
    padding: 7px;
}
#text-info {
    font-family: "Outfit";
    font-size: 1.4rem;
    color: hsl(332, 51%, 32%);
    font-weight: bold;
    padding-left: 10px;
}
.information {
    background-color: hsl(330, 100%, 98%);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.text-custom {
    color: hsl(14, 45%, 36%) !important;
    font-weight: bold;
    font-family: "Outfit";
    font-size: 1.2rem;
}
.text-custom-stone {
    color: hsl(30, 10%, 34%) !important;
    font-family: "Outfit";
    font-size: 1.2rem;
}
.attribution {
    font-size: 11px;
    text-align: center;
    font-family: "Outfit";
}
